<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Сервис проверки текста на определение класса в области информационной безопасности</title>
</head>
<body>
	<header>
		<nav>
			<a href="/">Главная</a> | <a href="/classifier">Классификатор</a> | <a href="/classes">Коллекция статей</a>
		</nav>
	</header>
	<h1>Коллекция статей</h1>
	<h3>Классы статей по классу {{ text_class.rus }}:</h3>
	<div>
		{% for article in articles %}
			<li><a href="/article/{{ text_class.eng }}/{{ article.name }}">{{ article.title }}</a></li>
		{% endfor %}
	</div>
</body>
</html>