<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Сервис проверки текста на определение класса в области информационной безопасности</title>
</head>
<body>
	<header>
		<nav>
			<a href="/">Главная</a> | <a href="/classifier">Классификатор</a> | <a href="/classes">Коллекция статей</a>
		</nav>
	</header>
	<h1>Классификатор</h1>
	<h3>Результат проверки</h3>
	<div>
		<span>Текст принадлежит к классу {{ textClass }}</span>
	</div>
    <div>
		<a href="/classifier">Вернуться к классификатору</a>
	</div>
</body>
</html>