<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Сервис проверки теста на определение класса в области информационной безопасности</title>
</head>
<body>
	<header>
		<nav>
			<a href="/">Главная</a> | <a href="/classifier">Классификатор</a> | <a href="/classes">Библиотека статей</a>
		</nav>
	</header>
    <h1>Классификатор</h1>
	<h3>Определение класса текста</h3>
	<form method="POST">
		{% csrf_token %}
		<div>
			<label>Введите текст для проверки:</label>
		</div>
		<div>
			<textarea type="text" name="text" style="height: 600px; width: 400px;" placeholder="Введите текст для проверки"></textarea>
		</div>
		<div>
			<input type="submit" value="Определить класс" style="height: 30px; width: 400px;">
		</div>
	</form>
</body>
</html>