<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Сервис проверки текста на определение класса в области информационной безопасности</title>
</head>
<body>
	<header>
		<nav>
			<a href="/">Главная</a> | <a href="/classifier">Классификатор</a> | <a href="/classes">Коллекция статей</a>
		</nav>
	</header>
	<div>
		<h1>Сервис проверки текста на определение класса в области информационной безопасности</h1>
		<span>Перейти к <a href="/classifier">классификатору</a></span>
		<span>Перейти к <a href="/classes">коллекции статей</a></span>
	</div>
</body>
</html>